// variables
$clr-black: #000;
$clr-white: #fff;
$clr-pink: #cb11ab;
$clr-orange: #F94E30;
$clr-light-orange: #FF6433;
$clr-light-gray: #F2F2F2;
$clr-light: #F4F4F4;
$clr-whitesmoke: #F5F5F5;
$clr-dark: #212529;
$clr-danger: #DC3545;
$clr-gray: #929292;
$font-family-manrope: 'Manrope', sans-serif;
$font-family-poppins: 'Poppins', sans-serif;
$transition-ease: all 300ms ease-in-out;